<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Coucou Mel, une nouvelle commande à été effectué !</h1>
    <p>
      Tu peux <%= link_to "te connecter", root_url %> pour la visualiser !
    </p>

  </body>
</html>
