<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenue sur mabciaceramic.com, <%= @user.name %></h1>
    <p>Avoir un compte vous permet de commander sur la boutique ou vous trouverez des objets d'ornement et des articles à usage quotidien qui embelliront vos intérieurs, vos extérieurs mais aussi vos aquariums !</p>
    <p>
      Pour vous connecter, <%= link_to "Cliquer ici", root_url %>.
    </p>
    <p>Merci de votre intérêt pour mon travail et bonne exploration !</p>
  </body>
</html>
