<div data-gdpr-popup-target="popup" class="hidden sticky top-16 z-10 px-2 py-4 bg-japonica-400 lg:top-20">
  <p class="text-gray-100 italic text-sm font-bold max-w-2xl mx-auto">By using this site you agree to our <a href="#" class="underline">Terms and Conditions</a>.
    Please <a id="accept" class="underline" href="#">Accept</a> these before using the site.
  </p>
</div>
