<header data-controller="menu">
  <div class="flex items-center justify-between bg-gray-100 py-2 px-2 shadow">
    <div>
      <%= link_to root_path do %>
        <%= image_tag "Logo.png" %>
      <% end %>
    </div>

    <div class="flex">
      <h2 class="text-gray-600 font-bold text-2xl">Mabcia</h2>
      <h2 class="text-japonica-500 font-bold text-2xl">Ceramic</h2>
    </div>

    <div  class="flex items-center outline-none">
      <button data-action="click->menu#toggle" id="options-menu" class="text-gray-600 focus:outline-none hover:text-gray-400">
        <svg data-menu-target="open" class="w-8 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/></svg>
        <svg data-menu-target="close" class="w-8 hidden" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/></svg>
      </button>

    </div>
  </div>
  <div class="sticky">
    <%= current_user.nil? ? (render 'shared/menu_before_login') : (render 'shared/menu_after_login') %>
  </div>
</header>
