<div class="pt-10 pb-24 px-4 max-w-xl mx-auto min-h-almostscreen">
  <h1 class="text-2xl font-medium text-gray-800">Mentions légales concernant Mabciaceramic</h1>
  <span class="text-sm">Mise à jour : 17 mars 2021</span>

    <div class="pt-4">
      <span class="font-bold text-lg text-gray-700">Coordonnées</span>
      <p class="pt-2 text-gray-600 max-w-md">1 place de l'église <br> 42320 Saint Christo en Jarez <br> mabcia.ceramic@gmail.com <br> SIRET : 89195188100012</p>
    </div>

  </div>
</div>
