@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "trix/dist/trix";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overlock:wght@400;700&display=swap');


@layer utilities {
  @responsive {
    .scrollbars-hidden::-webkit-scrollbar {
      display: none;
    }
  }
}

.instagram-media {
  min-width: 240px !important;
  width: 100% !important;
  margin-top:0 !important;
  margin-bottom: 12px !important;
  margin-left:auto !important;
  margin-right:auto !important;
}
// .shop-cards {
//   &:hover {
//     transition: all 0.2s ease-out;
//     top: -2px;
//   }
// }
