@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "trix/dist/trix";
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Overlock:wght@400;700&display=swap');


@layer utilities {
  @responsive {
    .scrollbars-hidden::-webkit-scrollbar {
    overflow: auto;
    -ms-overflow-style: none; /* IE 11 */
    scrollbar-width: none; /* Firefox 64 */

    }

  }
}

html {overflow: -moz-scrollbars-none;}

// Need to style a bit post from instagram embed in home page
.instagram-media {
  min-width: 240px !important;
  width: 100% !important;
  margin-top:0 !important;
  margin-bottom: 12px !important;
  margin-left:auto !important;
  margin-right:auto !important;
}


// This is for hidding widget from osano to open panel to modify preference in cookie consent (replace by link in footer)
.osano-cm-widget { display: none; }



@keyframes notification-countdown {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.attachment {

  img {

    width: 400px;

  }
}

.trix-content .attachment-gallery {
    display: contents !important;
    flex-wrap: nowrap !important;
  }

.trix-content .attachment--preview {
    width: auto !important;
    text-align: center;
}
