@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  @responsive {
    .scrollbars-hidden::-webkit-scrollbar {
      display: none;
    }
  }
}

.instagram-media {
  min-width: 280px !important;
  margin-top:0 !important;
  margin-bottom: 12px !important;
  margin-left:auto !important;
  margin-right:auto !important;
}
