<%= render "shared/cart" %>

<div class="px-4 py-8">

  <div class="px-8">
    <input class="w-full px-4 py-2 border-2 border-gray-200" type="text" placeholder="Search by name or demo day project">
  </div>
    <div class="pt-16 grid grid-cols-2 gap-4">
      <% @items.each do |item| %>
        <%= link_to item_path(item), class:"group" do %>
        <div class="flex flex-col shadow-2xl rounded-xl overflow-hidden">
          <div class="relative" style="padding-bottom: 80%">
            <%= cl_image_tag item.photos[0].key, class:'absolute h-full w-full inset-0 object-cover shadow'  %>
          </div>
          <div class="px-4 py-4 h-24">
            <span class="text-sm"><%= item.title %></span>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
